@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Quicksand:wght@300&display=swap');
@font-face {
    font-family: Clinca;
    src: url(../Font/Clinca/ClinicaPro-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #ffb178 !important;
    overflow-x: hidden;
    text-align: right;
}

#body{
    height: 100vh;
    display: flex;
    align-items: center;
}

button{
    outline: 0;
    border: 0;
}
a{
    text-decoration: none;
    color: black;
}

.CalculatorPosition{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-content: center;
    margin: 30px auto;
    font-family: 'Clinca', sans-serif;
    font-weight: 500;
    width: 470px;
    background-color: #ebebeb;
    box-shadow: -1px 3px 40px  rgba(0, 0, 0, 0.227);
    transition: 1.2s ease-in-out width;
    border-radius: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.CalculatorPositionDark{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-content: center;
    margin: 30px auto;
    font-family: 'Clinca', sans-serif;
    font-weight: 500;
    width: 470px;
    background-color: rgb(36, 52, 65);
    box-shadow: -1px 3px 40px  rgba(150, 150, 150, 0.227);
    transition: 1.2s ease-in-out width;
    border-radius: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.DropCalCulator{
    width: 800px;
    transition: 1.2s ease-in-out width;
    border-radius: 50px;
}

.iconNav{
    display: grid;
    grid-template-columns: repeat(2 , auto);
    justify-content: space-around;
    margin-top: 10px;
}

.iconNav i {
    font-size: 20px;
    cursor: pointer;
}

.Calculator{
    width: 470px ;
    height: 948px;
    text-align: right;
    display: grid; 
    grid-template-rows: 1fr 2fr 3fr 1fr;
    padding: 0 25px 30px 25px;
    background-color: #ebebeb;
    border-radius: 50px;
    box-shadow: -1px 3px 40px  rgba(0, 0, 0, 0.227);
    position: relative;
}

.CalculatorDark{
    width: 470px ;
    height: 948px;
    text-align: right;
    display: grid; 
    grid-template-rows: 1fr 2fr 3fr 1fr;
    padding: 0 25px 30px 25px;
    background-color: rgb(36, 52, 65);
    border-radius: 50px;
    box-shadow: -1px 3px 40px  rgba(150, 150, 150, 0.227);
    position: relative;
}

.Result{
    color: #1e2f3f;
    font-size: 110px;
    margin-top: 90px;
    transition: ease-in 0.2s all ;
    overflow-x: hidden;
    direction: rtl;
}

.ResultDark{
    color: rgb(255, 254, 255);
    font-size: 110px;
    margin-top: 90px;
    transition: ease-in 0.2s all ;
    overflow-x: hidden;
    direction: rtl;
}

.NumberOperation{
    color: #b1b2b4;
    font-size: 30px;
    overflow-x: hidden;
    direction: ltr;
}

.NumberOperationDark{
    color: rgb(124, 138, 149);
    font-size: 30px;
    overflow-x: hidden;
    direction: ltr;
}


.btnCalculator{
    display: grid;
    grid-template-columns: repeat(4 , auto);
    gap: 30px 25px;
    font-size: 25px;
    padding: 40px 0;
    transition: 0.3s filter ease-in;
}

.ButtonCalculator{
    background-color: #efedee;
    color: #959394;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.09));
    width: 83.184px ;
    height: 70.699px ;
    border-radius: 10px;
    transition: 0.2s filter ease-in-out;
}

.ButtonCalculatorDark{
    background-color: rgb(36, 52, 65);
    color: rgb(129, 143, 154);
    box-shadow: rgb(255 255 255 / 7%) 0px -2px 3px;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 4px 4px);
    width: 83.184px ;
    height: 70.699px ;
    border-radius: 10px;
    transition: 0.2s filter ease-in-out;
}
.ButtonCalculatorDark:focus{
    outline: 0;
    border: 0;
}
.ButtonCalculator:focus{
    outline: 0;
    border: 0;
}

.BtnResult{
    background-color: #ed802e;
    color: #ffe3bb;
    grid-column: 3/5;
    width: inherit;
}

.ButtonOperation{
    color: #868687;
}

.ButtonOperationDark{
    background-color: rgb(36, 52, 65);
    color: rgb(213, 140, 97);
    box-shadow: rgb(255 255 255 / 7%) 0px -2px 3px;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 4px 4px);
}

.IconDark{
    color: rgb(255, 254, 255);
}

.Version{
    display: grid;
    justify-content: center;
    font-size: 16px;
    transition: 0.3s filter ease-in;
}

.VersionDark{
    color: #fff;
    transition: 0.3s filter ease-in;
    display: grid;
    justify-content: center;
    font-size: 16px;
}

.DropHistori{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 870.988px;
    margin-top: 38px;
    position: relative;
}

.iconClearAllHistoriPhone{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #CED4DA;
    font-size: 25px;
    transition: 0.2s ease-in opacity;
    opacity: 0;
}

.iconClearAllHistoriPhoneDark{
    background-color: #495057b3;
    transition: 0.2s ease-in opacity;
    opacity: 0;
}

.iconClearAllHistoriPhoneDark i {
    cursor: pointer;
}

.iconClearAllHistoriDesktop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #CED4DA;
    font-size: 25px;
    transition: 0.2s ease-in opacity;
}

.iconClearAllHistoriDesktop i {
    cursor: pointer;
}

.iconClearAllHistoriDesktopDark{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 25px;
    background-color: #495057b3;
    transition: 0.2s ease-in opacity;
}


.HistoriItem{
    color: #1e2f3f;
    height: 100px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    transition: 0.2s ease-in opacity;
}

.HistoriItemDark{
    color: #ebebeb;
    height: 100px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    transition: 0.2s ease-in opacity;
}
.NumberHistori{
    display: grid;
    align-items: center;
    margin-left: 10px;
    font-size: 22px;
    text-align: left;
    transition: 0.2s ease-in opacity;
}

.IconHistori{
    display: grid;
    grid-template-columns: repeat(2 , auto);
    align-items: flex-end;
    padding-bottom: 5px;
    margin-right: 5px;
    transition: 0.2s ease-in opacity;
}

.IconHistori i {
    cursor: pointer;
}
.HistoriStartItem{
    color: #1e2f3f;
    height: 70px;
    display: flex;
    justify-content: center;
    transition: 0.2s ease-in opacity;
}

.HistoriStartItemDark{
    color: #ebebeb;
    height: 70px;
    display: flex;
    justify-content: center;
    transition: 0.2s ease-in opacity;
}


.HistoriPhone{
    width: 0;
    height: 853.195px;
    background-color: #8d99aeb5;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0 ,-50%);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    overflow-y: scroll;
    transition: 1s ease-in-out width;
    color: #1e2f3f;
}

.HistoriPhoneDrop{
    width: 350px;
    transition: 1s ease-in-out width;
}

.HistoriPhoneDark{
    background-color: #2b3d4eb8;
    color: rgb(255, 254, 255);
}

.blurClc{
    filter: blur(2px);
}

.ItemHistoriPhone{
    color: #1e2f3f;
    height: 100px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    opacity: 1;
    transition: 0.2s ease-in opacity;
}

.ItemHistoriPhoneDark{
    color: #fff;
    height: 100px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    opacity: 1;
    transition: 0.2s ease-in opacity;
}

.HistoriStartItemPhone{
    color: #1e2f3f;
    height: 100px;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: 0.2s ease-in opacity;
}

.HistoriStartItemDarkPhone{
    color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    opacity: 1;
    transition: 0.2s ease-in opacity;
}

.NumberItem{
    display: grid;
    align-items: center;
    text-align: left;
    margin-left: 5px;
    font-size: 22px;
    transition: 0.2s ease-in opacity;
    opacity: 0;
}

.iconItem{
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
    justify-content: space-around;
    direction: rtl;
    transition: 0.2s ease-in opacity;
    opacity: 0;
}

.iconItem i {
    cursor: pointer;
}

.StartOperationPhone{
    align-self: center;
    justify-content: end;
    font-size: 22px;
    transition: 0.2s ease-in opacity;
}




@media only screen and (max-width:839px) {
    .Calculator , .CalculatorDark{
        transition: 0.5s ease-in width;
    }
    .CalculatorPosition , .CalculatorPositionDark{
        transition: 0.5s ease-in width;
    }
    
}

@media only screen and (max-width:600px) {
    .CalculatorPosition , .CalculatorPositionDark{
        margin: 5px auto;
    }
}
@media only screen and (max-width:530px) {
    .CalculatorDark , .Calculator{
        width: 450px;  
        height: 879px;
        padding: 0 15px;   
    }
    .CalculatorPosition , .CalculatorPositionDark{
        width: 450px;
        height: 879px;
    }  
    .Result , .ResultDark{
        font-size: 100px;
        margin-top: 80px;
    }
    .btnCalculator{
        gap: 25px 20px !important;
        font-size: 20px;
    }
    .ButtonCalculator , .ButtonCalculatorDark{
        width: 80.184px !important;
        height: 68.699px !important;
    }
    .BtnResult{
        grid-column: 3/5;
        width: inherit !important;
        margin-right: 10px;
    }
    .ResultOperation{
        font-size: 20px;
    }
    .Version , .VersionDark{
        margin-top: -10px;
    }
    .HistoriPhone , .HistoriPhoneDark{
        height: 800.195px;
    }
    .HistoriPhoneDrop {
        width: 317px;
    }
}



@media only screen and (max-width:510px) {
    .Calculator , .CalculatorDark{
        width: 428px !important;
        padding: 0 0 !important;
        padding: 0 0 !important;
    }
    .CalculatorPosition , .CalculatorPositionDark{
        width: 428px !important; 
        margin: 10px auto;    
    }
    .Result , .ResultDark{
        width: 420px;
    }
    .NumberOperation , .NumberOperationDark{
        width: 410px;
    }
    .btnCalculator{
        padding: 40px 2px 40px 15px;
    }
    .ButtonCalculator , .ButtonCalculatorDark{
        width: 72.184px !important;
        height: 66.699px !important;
    }
    .BtnResult{
        grid-column: 3/5;
        width: inherit !important;
        margin-right: 28px;
    }
}





@media only screen and (max-width:488px) {
    .Calculator , .CalculatorDark{
        width: 400px !important; 
        height: 840px !important;
        
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        width: 400px !important;
        height: 840px !important;
    }  
    .Result , .ResultDark{
        width: 100%;
        padding-right: 15px;
        font-size: 90px;
    }
    .NumberOperation , .NumberOperationDark{
        width: 100%;
        padding-right: 15px;
        font-size: 25px;
    }
    .ButtonCalculator , .ButtonCalculatorDark{
        width: 65.184px !important;
        height: 61.699px !important;
    }
    .BtnResult{
        grid-column: 3/5;
        width: inherit !important;
        margin-right:-1px;
    }
    .iconNav{
        width: 100% ;
    }
    .btnCalculator{
        gap: 22px 34px !important;
        padding: 40px 20px;
        font-size: 18px;
    }
    .HistoriPhone , .HistoriPhoneDark{
        height: 763.195px ;
    }
    .HistoriPhoneDrop{
        width: 300px;
    }
    .StartOperationPhone , .StartOperationPhoneDark {
        font-size: 20px;
    }
}
@media only screen and (max-width:460px) {
    .Calculator , .CalculatorDark{
        width: 380px !important; 
        height: 780px !important;
        
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        width: 380px !important;
        height: 780px !important;
    } 
    .btnCalculator{
        padding: 20px 3px 20px 14px;
        gap: 22px 20px !important;
    }
    .BtnResult{
        margin-right: 6px;
    }
    .HistoriPhone , .HistoriPhoneDark{
        height: 724.195px ;
    }
    .HistoriPhoneDrop{
        width: 290px;
    }
    .Result , .ResultDark{
        margin-top: 55px;
    }
    .Version , .VersionDark{
        margin-top: 0;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 705.195px;
    }
}

@media only screen and (max-width:440px) {
    .Calculator , .CalculatorDark{
        width: 361px !important;
        height: 768px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        width: 361px !important;
        height: 768px !important;
    }
    .btnCalculator{
        padding: 20px 12px 20px 14px;
        font-size: 17px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 690.195px;
    }
    .Result , .ResultDark{
        font-size: 80px;
    }
    .NumberOperation , .NumberOperationDark{
        font-size: 20px;
    }
    .BtnResult{
        margin-right: 3px;
    }
    .Version , .VersionDark{
        font-size: 15px;
    }
    .iconNav i {
        font-size: 18px;
    }
    .ResultOperation{
        font-size: 18px;
    }
    .iconItem i {
        font-size: 18px;
    }
    .HistoriPhoneDrop{
        width: 265px;
    }
    .StartOperationPhone , .StartOperationPhoneDark {
        font-size: 18px;
    }
    .ItemHistoriPhone , .ItemHistoriPhoneDark{
        height: 80px;
    }
}

@media only screen and (max-width:421px) {
    .Calculator , .CalculatorDark{
        width: 335px !important;
        height: 655px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        width: 335px !important;
        height: 655px !important;
    }
    .Result , .ResultDark {
        font-size: 60px;
        padding-right: 7px;
    }
    .NumberOperation , .NumberOperationDark {
        font-size: 15px;
        padding-right: 7px;
    }
    .btnCalculator{
        padding: 20px 6px 20px 14px;
        font-size: 15px;
    }
    .ButtonCalculator , .ButtonCalculatorDark {
        width: 57.184px !important;
        height: 54.699px !important;
    }
    .BtnResult{
        grid-column: 3/5;
        width: inherit !important;
        margin-right:4px;
    }
    .Version , .VersionDark{
        font-size: 12px;
    }
    .iconNav i {
        font-size: 15px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 595px;
    }
    .ResultOperation {
        font-size: 16px;
    }
    .iconItem i {
        font-size: 15px;
    }
    .HistoriPhoneDrop {
        width: 244px;
    }
}

@media only screen and (max-width:395px) {
    .Calculator , .CalculatorDark{
        width: 300px !important;
        height: 625px !important;
        border-radius: 40px;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        width: 300px !important;
        height: 625px !important;
        border-radius: 40px;
    }
    .Result , .ResultDark{
        font-size: 55px;
    }
    .btnCalculator{
        font-size: 13px;
    }
    .ButtonCalculator , .ButtonCalculatorDark {
        width: 50.184px !important;
        height: 45.699px !important;
    }
    .BtnResult{
        grid-column: 3/5;
        width: inherit !important;
        margin-right: 5px;
    }
    .HistoriPhoneDrop {
        width: 230px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 555px;
    }
}

@media only screen and (max-width:360px) {
    .Calculator , .CalculatorDark{
        width: 260px !important;
        height: 534px !important;
        border-radius: 30px;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        width: 260px !important;
        height: 534px !important;
        border-radius: 30px;
    }
    .Result , .ResultDark {
        margin-top: 23px;
        font-size: 50px;
    }
    .ButtonCalculator , .ButtonCalculatorDark {
        width: 44.184px !important;
        height: 39.699px !important;
    }
    .btnCalculator{
        gap: 18px 20px !important;
        padding: 20px 8px 20px 10px;
    }
    .BtnResult{
        grid-column: 3/5;
        width: inherit !important;
        margin-right: 2px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 463px;
    }
    .HistoriPhoneDrop {
        width: 199px;
    }
    .ItemHistoriPhoneDark , .ItemHistoriPhone{
        height: 60px;
    }
    .ResultOperation {
        font-size: 13px;
    }
    .iconItem i {
        font-size: 13px;
    }
    .StartOperationPhone , .StartOperationPhoneDark{
        font-size: 13px;
    }
}

@media only screen and (max-width:320px) {
    .Calculator , .CalculatorDark{
        width: 235px !important;
        height: 467px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        width: 235px !important;
        height: 467px !important;
    }
    .ButtonCalculator , .ButtonCalculatorDark {
        width: 42.184px !important;
        height: 39.699px !important;
    }
    .btnCalculator {
        gap: 14px 12px !important;
        padding: 2px 8px 16px 10px;
        font-size: 11px;
    }
    .BtnResult{
        grid-column: 3/5;
        width: inherit !important;
        margin-right: 2px;
    }
    .iconNav i {
        font-size: 13px;
    }
    .HistoriPhoneDrop {
        width: 175px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 405px;
    }
    .iconItem i {
        font-size: 11px;
    }
    .Result , .ResultDark{
        font-size: 40px;
    }
    .NumberOperation , .NumberOperationDark{
        font-size: 13px;
    }
    .StartOperationPhone , .StartOperationPhoneDark {
        font-size: 13px;
    }
    .HistoriPhoneDrop {
        width: 160px;
    }
}

@media (min-width:530px) and (max-height:967px) {
    .CalculatorPosition ,.CalculatorPositionDark{
        height: 900px;
    }
    .Calculator , .CalculatorDark{
        height: 900px;
    }
    .Result , .ResultDark{
        margin-top: 70px;
        margin-bottom: 0;
    }
    .NumberOperation , .NumberOperationDark{
        margin-bottom: 0;
    }
    .HistoriPhone , .HistoriPhoneDark{
        height: 809.195px;
    }
    .HistoriPhoneDrop{
        width: 328px;
    }
}

@media (min-width:530px) and (max-height:920px) {
    .Calculator , .CalculatorDark{
        height: 854px;
        width: 427px;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 854px;
        width: 427px;
    }
    .btnCalculator{
        padding: 21px 0;
    }
    .Result , .ResultDark{
        margin-top: 45px;
    }
    .ButtonCalculator , .ButtonCalculatorDark{
        width: 76.184px;
    }
    .BtnResult{
        grid-column: 3/5;
        width: inherit !important;
    }
    .HistoriPhoneDrop {
        width: 304px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 773.195px;
    }
}

@media (min-width:530px) and (max-height:874px) {
    .Calculator , .CalculatorDark{
        padding: 0 25px 0px 25px;
        height: 822px;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 822px;
    }
    .Result , .ResultDark{
        font-size: 90px;
    }
    .NumberOperation , .NumberOperationDark{
        font-size: 25px;
    }
    .Version p , .VersionDark p {
        margin-bottom: 0;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 742.195px;
    }
}
@media (min-width:530px) and (max-height:842px) {
    body {
        display: block;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        margin: 10px auto;
    }
}

@media (min-width:510px) and (max-width:529px) and (max-height:899px){
    .Calculator , .CalculatorDark{
        width: 435px;
        height: 848px;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        width: 435px;
        height: 848px;
    }
    .Result , .ResultDark{
        margin-top: 64px;
    }
    .btnCalculator{
        padding: 18px 2px 18px 6px;
    }
    .Version p , .VersionDark p {
        margin-bottom: 0;
    }
    .BtnResult{
        margin-right: 3px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 767.195px;
    }
}
@media (min-width:510px) and (max-width:529px) and (max-height:868px){
    .Calculator , .CalculatorDark{
        height: 826px;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 826px;
    }
    
    .ButtonCalculator , .ButtonCalculatorDark {
        width: 76.184px !important;
        height: 64.699px !important;
    }
    .BtnResult {
        grid-column: 3/5;
        width: inherit !important;
        margin-right: 3px;
    }
    .Result , .ResultDark {
        margin-top: 68px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 753.195px;
    }
}
@media (min-width:510px) and (max-width:529px) and (max-height:846px){
    .Calculator , .CalculatorDark{
        height: 805px;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 805px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 729.195px;
    }
}
@media (min-width:510px) and (max-width:529px) and (max-height:822px){
    body {
        display: block;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        margin: 10px auto;
    }
}
@media (min-width:488px) and (max-width:509px) and (max-height:899px){
    
    .Calculator , .CalculatorDark{
        height: 860px;
    }
    
    .CalculatorPosition ,.CalculatorPositionDark{
        height: 860px;
    }
    .Result , .ResultDark{
        margin-top: 50px;
    }
    .btnCalculator {
        padding: 20px 2px 30px 15px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 779.195px;
    }
}
@media (min-width:488px) and (max-width:509px) and (max-height:880px){
    .Calculator , .CalculatorDark{
        height: 835px;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 835px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 753.195px;
    }
}
@media (min-width:488px) and (max-width:509px) and (max-height:855px){
    .Calculator , .CalculatorDark{
        height: 825px;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 825px;
    }
    .btnCalculator {
        padding: 4px 2px 23px 15px;
    }
}
@media (min-width:488px) and (max-width:509px) and (max-height:845px){
    .Calculator , .CalculatorDark{
        height: 805px;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 805px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 719.195px;
    }
}
@media (min-width:488px) and (max-width:509px) and (max-height:825px){
    body {
        display: block;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        margin: 10px auto;
    }
}
@media (min-width:460px) and (max-width:487px) and (max-height:860px){
    .Calculator , .CalculatorDark{
        height: 813px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        height: 813px !important;
    }
    .Version p , .VersionDark p {
        margin-bottom: 0;
    }
    .Result , .ResultDark{
        margin-top: 60px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 724.195px;
    }
}
@media (min-width:460px) and (max-width:487px) and (max-height:833px){
    .Calculator , .CalculatorDark{
        height: 786px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 786px !important;
    }
    .Result , .ResultDark{
        margin-top: 50px;
    }
    .btnCalculator{
        padding: 27px 20px;
    }
    .HistoriPhoneDrop {
        width: 281px;
    }
    .HistoriPhone , .HistoriPhoneDark{
        height: 706px;
    }    
}
@media (min-width:460px) and (max-width:487px) and (max-height:806px){
    .Calculator , .CalculatorDark{
        height: 760px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 760px !important;
    }
    .Result , .ResultDark {
        margin-top: 25px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 671px;
    }
}
@media (min-width:460px) and (max-width:487px) and (max-height:780px){
    body {
        display: block;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        margin: 10px auto;
    }
}
@media (min-width:440px) and (max-width:459px) and (max-height:800px){
    .CalculatorPosition ,.CalculatorPositionDark{
        height: 760px !important;
    }
    .Calculator , .CalculatorDark{
        height: 760px !important;
    }
    .Result , .ResultDark{
        margin-top: 50px;
    }
    .btnCalculator {
        padding: 7px 3px 20px 14px;
    }
    .BtnResult{
        margin-right: 5px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 676.195px;
    }
    .ItemHistoriPhoneDark , .ItemHistoriPhone {
        height: 89px;
    }
}
@media (min-width:440px) and (max-width:459px) and (max-height:780px){
    .Calculator , .CalculatorDark{
        height: 740px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 740px !important;
    }
    .ButtonCalculator , .ButtonCalculatorDark{
        height: 57.699px !important;
    }
    .btnCalculator {
        padding: 7px 3px 12px 14px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 646.195px;
    }
}
@media (min-width:440px) and (max-width:459px) and (max-height:760px){
    .Calculator , .CalculatorDark{
        height: 718px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 718px !important;
    }
    .Result , .ResultDark {
        margin-top: 16px;
    }
}
@media (min-width:440px) and (max-width:459px) and (max-height:738px){
    body {
        display: block;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        margin: 10px auto;
    }
}
@media (min-width:421px) and (max-width:439px) and (max-height:788px){
    .Calculator , .CalculatorDark{
        height: 733px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        height: 733px !important;
    }
    .Result , .ResultDark {
        margin-top: 23px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 658.195px;
    }
    
}
@media (min-width:421px) and (max-width:439px) and (max-height:753px){
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 716px !important;
    }
    .Calculator , .CalculatorDark{
        height: 716px !important;
    }
    .btnCalculator {
        padding: 20px 12px 11px 14px;
    }
    .Version p , .VersionDark p {
        margin-bottom: 0;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 644.195px;
    }
}

@media (min-width:421px) and (max-width:439px) and (max-height:736px){
    body {
        display: block;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        margin: 10px auto;
    }
}
@media (min-width:394px) and (max-width:420px) and (max-height:675px){
    .Calculator , .CalculatorDark{
        width: 319px !important;
        height: 630px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        width: 319px !important;
        height: 630px !important;
    }
    .ButtonCalculator , .ButtonCalculatorDark {
        width: 54.184px !important;
        height: 48.699px !important;
    }
    .BtnResult {
        grid-column: 3/5;
        width: inherit !important;
        margin-right: 3px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 566px;
    }
    .HistoriPhoneDrop {
        width: 226px;
    }
    .ItemHistoriPhoneDark , .ItemHistoriPhone {
        height: 70px;
    }
}

@media (min-width:394px) and (max-width:420px) and (max-height:650px){
    .Calculator , .CalculatorDark{
        height: 611px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        height: 611px !important;
    }
    .btnCalculator {
        padding: 0px 6px 12px 14px;
        font-size: 15px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 548px;
    }
}
@media (min-width:394px) and (max-width:420px) and (max-height:631px){
    .Calculator , .CalculatorDark{
        height: 590px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 590px !important;
    }
    .Result , .ResultDark {
        margin-top: 21px;
    }
    .btnCalculator{
        padding: 0px 6px 23px 14px;
    }
    .HistoriPhone  , .HistoriPhoneDark{
        height: 526px;
    }
}

@media (min-width:394px) and (max-width:420px) and (max-height:610px){
    body {
        display: block;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        margin: 10px auto;
    }
}
@media (min-width:359px) and (max-width:395px) and (max-height:645px){
    .Calculator , .CalculatorDark{
        height: 607px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        height: 607px !important;
    }
    .btnCalculator {
        padding: 4px 6px 20px 14px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 539px;
    }
}
@media (min-width:359px) and (max-width:395px) and (max-height:627px){
    .Calculator , .CalculatorDark{
        height: 584px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 584px !important;
    }
    .Result , .ResultDark {
        margin-top: 28px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 518px;
    }
    .HistoriPhoneDrop {
        width: 216px;
    }
}


@media (min-width:359px) and (max-width:395px) and (max-height:604px){
    body {
        display: block;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        margin: 10px auto;
    }
}
@media (min-width:319px) and (max-width:360px) and (max-height:554px){
    .Calculator , .CalculatorDark{
        width: 246px !important;
        height: 501px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        width: 246px !important;
        height: 501px !important;
    }
    .ButtonCalculator , .ButtonCalculatorDark {
        width: 41.184px !important;
        height: 36.699px !important;
    }
    .btnCalculator {
        padding: 9px 8px 13px 10px;
    }
    .BtnResult {
        grid-column: 3/5;
        width: inherit !important;
        margin-right: 1px;
    }
    .iconNav i {
        font-size: 12px;
    }
    .HistoriPhone  , .HistoriPhoneDark{
        height: 440px;
    }
    .HistoriPhoneDrop {
        width: 185px;
    }
}
@media (min-width:319px) and (max-width:360px) and (max-height:521px){
    .Calculator , .CalculatorDark{
        height: 476px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        height: 476px !important;
    }
    .ButtonCalculator , .ButtonCalculatorDark {
        width: 41.184px !important;
        height: 36.699px !important;
    }
    .btnCalculator{
        gap: 14px 20px !important;
        padding: 9px 8px 8px 10px;
    }
    .BtnResult {
        grid-column: 3/5;
        width: inherit !important;
        margin-right: 1px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 424px;
    }
    .HistoriPhoneDrop {
        width: 185px;
    }
}
@media (min-width:319px) and (max-width:360px) and (max-height:496px){
    body {
        display: block;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        margin: 10px auto;
    }
}
@media (min-width:0) and (max-width:320px) and (max-height:487px){
    .Calculator , .CalculatorDark{
        height: 455px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        height: 455px !important;
        font-size: initial;
    }
    .Version p , .VersionDark p {
        margin-bottom: 0;
        font-size: 10px;
    }
    .iconNav i {
        font-size: 12px;
    }
    .HistoriPhone , .HistoriPhoneDark {
        height: 384px;
    }
}
@media (min-width:0) and (max-width:320px) and (max-height:475px){
    .ButtonCalculator , .ButtonCalculatorDark{
        height: 37.699px !important;
    }
    .CalculatorPosition ,.CalculatorPositionDark {
        height: 441px !important;
    }
    .Calculator , .CalculatorDark{
        height: 441px !important;
    }
}
@media (min-width:0) and (max-width:320px) and (max-height:461px){
    body {
        display: block;
    }
    .CalculatorPosition ,.CalculatorPositionDark{
        margin: 10px auto;
    }
}